<%- include('partials/header'); %>

<h1 class="box" id="heading">About TurboDone</h1>
<p style="text-align: center;">
    Developed with &hearts; by Shashwat Verma.
    E-mail: <a href="mailto:zippytro@gmail.com">zippytyro@gmail.com</a>
</p>

<%- include('partials/footer'); %>