<%- include('partials/header'); %>

<h1 class="box" id="heading">About TurboDone</h1>
<p style="text-align: center;">
    Developed with &hearts; by Shashwat Verma.
    E-mail: <a href="mailto:zippytro@gmail.com">zippytyro@gmail.com</a>
</p>

<footer>&copy; 2020-24 <a href="/company/about">Shashwat</a> </footer>
<a href="/new-list" id="addNewItem"><i class="far fa-plus-square"></i></a>
<a href="/list/<%= listName %>" id="home"><i class="fa fa-home"></i></a>
</body>

</html>