<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../list.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
    <title><%= title %> - Turbo Done</title>
</head>

<body>
    <h1 class="box" id="heading">Create Custom List</h1>
    <div id="listChange" class="listChange">
        <form action="/listChange" method="POST">
            <input autofocus="on" class="listInput" placeholder="Enter list Name" maxlength="20" name="newlist"
                autocomplete="off" required type="text">
            <button type="submit">Create</button>
        </form>
    </div>
</body>

</html>

<%- include('partials/footer'); %>